@mixin flex($direction, $justify, $align, $wrap, $inline: false){
	@if ($inline) {
		display: inline-flex;
	}
	@else{
		display: flex;
		align-items: $align;
		justify-content: $justify;
		flex-direction: $direction;
		flex-wrap: $wrap;
	}		
}